.form {
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  max-width: 422px;
  padding: 48px 56px;
  text-align: center;
  @media screen and (max-width: $tablet) {
    max-width: 100%;
    padding: 24px 42px;
  }
  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: var(--color-primary-white);
    max-width: 276px;
    margin: 0 auto 32px;
    @media screen and (max-width: $tablet) {
      margin: 0 auto 24px;
    }
  }
  &__input {
    padding: 18px 32px;
    border-radius: 32px;
    width: 100%;
    background-color: transparent;
    border: solid 1px var(--color-secondary-grey);
    color: var(--color-primary-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    transition: background-color 0.2s, color 0.2s;
    @media screen and (max-width: $tablet) {
      padding: 16px 24px;
    }
    &::placeholder {
      color: var(--color-primary-white);
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 1;
    }
    &:focus {
      outline: none;
      background-color: var(--color-secondary-grey);
      color: var(--color-primary-white);
    }
  }
  &__button {
    margin-bottom: 8px;
    hover {
      color: var(--color-primary-white);
    }
  }
  &__agreement {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-secondary-grey);
  }
}
