.adventages-section {
  padding-bottom: 96px;
  @media screen and (max-width: $desktop) {
    padding-bottom: 40px;
  }
  &__title {
    max-width: 450px;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    justify-content: center;
  }
  &__list {
    display: flex;
    max-width: 1060px;
    gap: 24px;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      gap: 16px;
    }
  }
  &__item {
    background-color: var(--color-primary-white);
    padding: 24px 32px;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0px 4px 16px rgba(168, 198, 245, 0.38);
  }
  &__image {
    fill: var(--color-primary-blue);
    margin-bottom: 8px;
  }
  &__text {
    max-width: 252px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }
}
